p {
    font-family: "Times New Roman";
}

table {
    width: 100%;
  }
  .mat-header-row{
      height: auto;
  }
  .mat-row:nth-child(even) {
      background-color:white;
  }
  .mat-row:nth-child(odd) {
      background-color: #f7f7f7;
  }
  .mat-header-cell {
      color: white;
      background-color: #2A5C9E; 
      padding: 10px 10px 10px 0;
  }
  .mat-row {
      height: auto;
  }
  .mat-cell {
      padding: 3px 3px 3px 0;
  }

  * {
    border-radius: 0 !important;
  }
  
  * {
    -webkit-border-radius: 0 !important;
       -moz-border-radius: 0 !important;
            border-radius: 0 !important;
  }
  .div.border{
    border-style: solid;
  }

    .button-blue{
    background-color: #8cb7ec;
  }

  .button-plomo{
      background-color: #969696;
  }

  .button-red{
      background-color: #f80000;
  }
