<div class="row">
    <div class="col-md-7">

        <div>

            <img class="img-fluid" src="assets/img/clinicalogin01.jpg" alt="Aquarius" height="700" width="800">

        </div>

    </div>
    <div class="col-md-5" align="center">
        <div class="login-box">
            <div class="login-logo">
                <a href="../../index2.html">
                    <h3><b><p>Aquarius Consulting</p></b></h3>
                </a>
            </div>
            <!-- /.login-logo -->
            <div class="card">
                <div class="card-body login-card-body">
                    <p class="login-box-msg">Ingresa tus Credenciales de Acceso</p>

                    <form [formGroup]="formUsuario" (ngSubmit)="login()">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" formControlName="usuario" placeholder="Usuario">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <i class="far fa-user"></i>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <input type="password" class="form-control" formControlName="password"
                                placeholder="Contraseña">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8">

                            </div>
                            <!-- /.col -->
                            <div class="col-4">
                                <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
                            </div>
                            <!-- /.col -->
                        </div>
                    </form>


                </div>
                <!-- /.login-card-body -->
            </div>
        </div>
        <!-- /.login-box -->
    </div>
</div>