<div class="row">

    <div class="col-12">
        <div class="card divmargen">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="far fa-list-alt"></i>
                    &nbsp;
                    Programacion Epps
                    &nbsp;
                    <button type="button" class="btn btn-secondary btn-sm" (click)="onResetFormProEpps()"
                        data-toggle="modal" data-target="#viewModalProEpps">
                        <i class="far fa-plus-square"></i>
                        Crear
                    </button>
                </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">

                <div class="table-responsive">

                    <table mat-table [dataSource]="proEppsData" class="mat-elevation-z8">

                        <ng-container matColumnDef="Opciones">
                            <th mat-header-cell *matHeaderCellDef> Opciones </th>
                            <td mat-cell *matCellDef="let proEpps">
                                <button type="button" name="btnEditar" title="Editar Programacion" data-toggle="modal"
                                    (click)="onUpdateProEpps(proEpps)" data-target="#viewModalProEpps" 
                                    class="btn button-edit btn-sm">
                                    <i class="far fa-edit"></i>
                                </button>
                                &nbsp;
                                <button type="button" name="asignarepps" title="Asignar Epps" data-toggle="modal" (click)="onAsignarEpps(proEpps)"
                                    data-target="#viewModalAsignarEpps" class="btn btn-secondary btn-sm">
                                    <i class="fas fa-hard-hat"></i>
                                </button>
                                &nbsp;
                                <button type="button" name="btnEliminar" title="Eliminar Registro" class="btn btn-danger btn-sm">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Empresa">
                            <th mat-header-cell *matHeaderCellDef> Empresa </th>
                            <td mat-cell *matCellDef="let proEpps">
                                <p class="tabla">{{proEpps.empresa.desrazonsocial}} </p>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Sede">
                            <th mat-header-cell *matHeaderCellDef> Sede </th>
                            <td mat-cell *matCellDef="let proEpps">
                                <p class="tabla">{{proEpps.sucursal.nomsucursal}} </p>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="FechaPro">
                            <th mat-header-cell *matHeaderCellDef> Fecha Program </th>
                            <td mat-cell *matCellDef="let proEpps">
                                <p class="tabla">{{proEpps.fechaprogram}} </p>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Estado">
                            <th mat-header-cell *matHeaderCellDef> Estado </th>
                            <td mat-cell *matCellDef="let proEpps">
                                <p class="tabla">{{proEpps.tblestado.deslarga}} </p>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="proEppsCol"></tr>
                        <tr mat-row *matRowDef="let row; columns: proEppsCol;"></tr>

                    </table>

                    <mat-paginator #paginatorProEpps [pageSizeOptions]="[6, 10]" showFirstLastButtons>
                    </mat-paginator>

                </div>


            </div>
            <!-- /.card-body -->
        </div>

    </div>
    <!-- /.col -->
</div>
<!-- /.row -->


<!-- Modal -->
<div class="modal fade" id="viewModalProEpps" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form [formGroup]="formProEpps" (ngSubmit)="onSubmit()" class="form-horizontal">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Programacion Epps</h5>
                    <button type="button" #closebutton class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">

                                <div class="form-group row mb-2">

                                    <div class="col-sm-6">
                                        <label for="inputCodPersonal">Empresa </label>
                                        <select (change)="onChangeEmpresaSucursal($event.target.value)"
                                            formControlName="codempresa" class="form-control form-control-sm"
                                            [ngClass]="{ 'is-invalid': submittedProEpps && f.codempresa.errors }">
                                            <option value="" disabled>Seleccionar</option>
                                            <option *ngFor="let empresa of empresas" [value]="empresa.codempresa">
                                                {{empresa.desrazonsocial}}
                                            </option>
                                        </select>
                                    </div>

                                    <div class="col-sm-6">
                                        <label for="inputCodPersonal">Sede </label>
                                        <select formControlName="sede" class="form-control form-control-sm"
                                            [ngClass]="{ 'is-invalid': submittedProEpps && f.sede.errors }">
                                            <option value="" disabled>Seleccionar</option>
                                            <option *ngFor="let sucursal of sucursales" [value]="sucursal.codsucursal">
                                                {{sucursal.nomsucursal}}
                                            </option>
                                        </select>
                                    </div>

                                </div>

                                <div class="form-group row mb-2">

                                    <div class="col-sm-6">
                                        <label for="inputCodPersonal">Fecha Programacion</label>
                                        <input type="date" class="form-control form-control-sm" formControlName="fechaprogram" autocomplete="off"
                                            [ngClass]="{ 'is-invalid': submittedProEpps && f.fechaprogram.errors }">
                                    </div>

                                    <div class="col-sm-6">
                                        <label for="inputCodPersonal">Fecha Vigencia</label>
                                        <input type="date" class="form-control form-control-sm"
                                            formControlName="fechavigencia" autocomplete="off"
                                            [ngClass]="{ 'is-invalid': submittedProEpps && f.fechavigencia.errors }">
                                    </div>

                                </div>

                                <div class="form-group row mb-2">

                                    <div class="col-sm-5">
                                        <label for="inputCodPersonal">Responsable</label>
                                        <input type="text" class="form-control form-control-sm"
                                            formControlName="nombreresp" autocomplete="off"
                                            [ngClass]="{ 'is-invalid': submittedProEpps && f.nombreresp.errors }">
                                    </div>

                                    <div class="form-group col-12 col-md-1" style="margin-top:30px">
                                        <button class="btn btn-info btn-sm" type="button" data-toggle="modal"
                                            data-target="#viewModalPersonalesAsignarP"><i
                                                class="fa fa-search"></i></button>
                                    </div>


                                </div>



                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-info" #closeBtn>Registrar</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="viewModalPersonalesAsignarP" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Asignar Responsable</h5>
                <button type="button" #closebuttonRes class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">

                    <div class="col-sm-12">
                        <form (ngSubmit)="onSearchPersonalResponsable()">

                            <div class="form-group row">
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <select class="form-control form-control-sm col-md-3"
                                            name="selectedBusquedaAsignRes" [(ngModel)]="selectedBusquedaAsignRes">
                                            <option value="Documento">Documento</option>
                                            <option value="Nombres">Apellidos y Nombres</option>
                                        </select>
                                        <input type="text" name="searhInputAsignarRes"
                                            [(ngModel)]="searhInputAsignarRes" class="form-control form-control-sm"
                                            placeholder="Texto a buscar" autocomplete="off">
                                        <button type="submit" class="btn btn-sm btn-info">
                                            <i class="fa fa-search"></i> Buscar
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>


                    <div class="table-responsive">

                        <table mat-table [dataSource]="responsableData" class="mat-elevation-z8">

                            <ng-container matColumnDef="Opciones">
                                <th mat-header-cell *matHeaderCellDef> Opciones </th>
                                <td mat-cell *matCellDef="let personal">
                                    <button type="button" name="editar" (click)="selectResponsable(personal)"
                                        title="Seleccionar" class="btn button-success btn-sm">
                                        <i class="fas fa-check-circle"></i>
                                    </button>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="Nombre">
                                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                                <td mat-cell *matCellDef="let personal">
                                    <p class="tabla">{{personal.apepaterno + ' ' + personal.apematerno + ' '
                                        +personal.nomtrabajador}}</p>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="DNI">
                                <th mat-header-cell *matHeaderCellDef> Documento </th>
                                <td mat-cell *matCellDef="let personal">
                                    <p class="tabla">{{personal.numdocidentidad}}</p>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="Cargo">
                                <th mat-header-cell *matHeaderCellDef> Cargo </th>
                                <td mat-cell *matCellDef="let personal">
                                    <p class="tabla">{{personal.descargo}}</p>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="responsableCol"></tr>
                            <tr mat-row *matRowDef="let row; columns: responsableCol;"></tr>


                        </table>

                        <mat-paginator #paginatorresponsable [pageSizeOptions]="[6]" showFirstLastButtons>
                        </mat-paginator>

                    </div>

                </div>
            </div>


        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="viewModalAsignarEpps" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Asignar Epps</h5>
                <button type="button" #closebutton class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row" class="form-horizontal">
                        <form [formGroup]="formProEppsObjeto" (ngSubmit)="onSubmitAsignarEpp()">
                            <div class="col-md-12">

                                <div class="form-group row mb-2">

                                    <div class="col-sm-6">
                                        <label for="inputCodPersonal">Tipo Epp </label>
                                        <select (change)="onChangeTipoEpp($event.target.value)"
                                            formControlName="idtipo" class="form-control form-control-sm">
                                            <option value="" disabled>Seleccionar</option>
                                            <option *ngFor="let tipos of tiposEpps" [value]="tipos.id">
                                                {{tipos.deslarga}}
                                            </option>
                                        </select>
                                    </div>

                                    <div class="col-sm-6">
                                        <label for="inputCodPersonal">Epps </label>
                                        <select formControlName="codepps" class="form-control form-control-sm">
                                            <option value="" disabled>Seleccionar</option>
                                            <option *ngFor="let epps of listEpps" [value]="epps.id">
                                                {{epps.nombre}}
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-12">

                                    <div class="form-group row">
                                        <div class="col-sm-12 text-right">
                                            <button type="submit" class="btn btn-info">Grabar</button>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </form>
                    </div>

                    <div class="row">

                        <div class="table-responsive">

                            <table mat-table [dataSource]="proDetEppsData" class="mat-elevation-z8">
                            
                                <ng-container matColumnDef="Opciones">
                                    <th mat-header-cell *matHeaderCellDef> Opciones </th>
                                    <td mat-cell *matCellDef="let proDetEpps">
                                        <button type="button" name="proDetEpps" title="eliminar proDetEpps" (click)="deleteProgramDetEpps(proDetEpps)"
                                            class="btn btn-danger btn-sm">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </td>
                                </ng-container>
                            
                                <ng-container matColumnDef="Tipo">
                                    <th mat-header-cell *matHeaderCellDef> Tipo </th>
                                    <td mat-cell *matCellDef="let proDetEpps"> {{proDetEpps.epps.tipo.deslarga}} </td>
                                </ng-container>

                                <ng-container matColumnDef="Nombre">
                                    <th mat-header-cell *matHeaderCellDef> Nombre </th>
                                    <td mat-cell *matCellDef="let proDetEpps"> {{proDetEpps.epps.nombre}} </td>
                                </ng-container>
                            
                                <tr mat-header-row *matHeaderRowDef="proDetEppsCol"></tr>
                                <tr mat-row *matRowDef="let row; columns: proDetEppsCol;"></tr>
                            
                            
                            </table>
                            
                            <mat-paginator #paginatorProDetEpps [pageSizeOptions]="[6, 10]" showFirstLastButtons></mat-paginator>
                            

                        </div>

                    </div>

                </div>

            </div>
            <div class="modal-footer">
            </div>

        </div>
    </div>
</div>